
.loader-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

@keyframes rotation {   
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

.loader-points {
    animation: rotation steps(12, end) infinite;
}

.loader-dots, .loader-gear, .loader-gear-outline{
    animation: rotation steps(8, end) infinite;
}

.loader-lines, .loader-lines-outline {
    animation: rotation steps(7, end) infinite;
}

.loader-thin-lines {
    animation: rotation steps(16, end) infinite;
}

.loader-refresh, .loader-circle, .loader-points,
.loader-shutter, .loader-settings {
    animation: rotation infinite linear;
}




.dot {
    border-radius: 15px;
    position: relative;
    animation: example 1s infinite linear;
}
  
@keyframes example {
    0%   {left:0px; top: 0px;}
    25%  {left:0px; top:-15px;}
    75%  {left:0px; top: 15px;}
    100% {left:0px; top: 0px;}
}
  